//
//  Development.xcconfig
//  RSS Feed App
//
//  Created by Saša Brezovac on 11.03.2025..
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


BASE_URL = https:/$()/... //development url
PRODUCT_NAME = [D] RSS Feed App
PRODUCT_BUNDLE_IDENTIFIER = com.paste89.rss-feed-app.development
GOOGLE_SERVICE_PLIST_NAME = GoogleService-Dev
GOOGLE_APP_ID = //add
ENVIRONMENT = dev
CURRENT_PROJECT_VERSION = 1
